body {
    background: linear-gradient(to bottom right, #b9d670, #ffcf2e);
  }
  
  #container {
    position: relative;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #ball {
    width: 20px;
    height: 20px;
    background-color: black;
    position: fixed;
    top: 20px;
    left: 52.5%;
    border-radius: 50%;
    box-shadow: 0 0 20px #33ffff;
    opacity: 10;
  }
  

  
  #rod1 {
    background-color: rgb(32, 21, 241);
    top: 0px;
    border: 6px solid transparent;
    border-image: linear-gradient(#14ffe9, #ffeb3b, #ff30eb);
    border-image-slice: 1;
    border-radius: 50px;
  }
  
  #rod2 {
    background-color: black;
    bottom: 0px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-image: linear-gradient(#14ffe9, #ffeb3b, #ff30eb);
    border-image-slice: 1;
  }
  

  #rod1, #rod2 {
    width: 240px;
    height: 20px;
    position: fixed;
    left: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 50px;
  }